.tarot-card {
  width: 15vw;
  aspect-ratio: 469/850;
  position: absolute;
  top: 0;
  object-fit: cover;
  cursor: pointer;
  margin: 0;
  padding: 0;
}

.flip_container {
  width: 15vw;
  aspect-ratio: 469/850;
  transform-style: preserve-3d;
  transition: 1s;
  transform: perspective(1000px) rotateY(var(--rotate-y, 0))
    translateY(var(--translate-y, 0));
}

.flip_container:hover {
  --translate-y: -2px;
  opacity: 1;
}

.flip_container.flip {
  --rotate-y: -180deg;
}

.front,
.back {
  backface-visibility: hidden;
}

.flip_container .back {
  transform: rotateY(-180deg);
}

.flip_container .front {
  left: 0;
}

.reversed {
  rotate: 180deg;
}
