.hide {
  display: none;
}

.edit-popup {
  margin-left: auto;
  display: inline-flex;
  flex-direction: row;
  align-items: center;
}

.input-edit-popup {
  height: 100%;
  width: 200px;
  font-size: 2vh;
  font-family: Courier, "Lucida Sans Typewriter", "Lucida Typewriter";
}

.btn-edit-popup {
  margin-left: 1vw;
  height: 100%;
  width: auto;
  padding: 10px;
  cursor: pointer;
}

.btn-edit-popup:hover {
  background-color: var(--black);
  color: var(--white);
  box-shadow: none;
}

.btn-x {
  margin-left: 0.5vw;
}
.btn-yes {
  margin-left: 1vw;
}
