.hide {
  display: none;
}

.edit-popup {
  margin-left: auto;
  display: inline-flex;
  flex-direction: row;
}

.input-edit-popup {
  display: inline-block;
  height: 1.2em;
}

.btn-edit-popup {
  display: inline-block;
  height: 1.2em;
}

.btn-edit-popup {
  color: var(--white);
  background-color: var(--black);
  border: none;
  cursor: pointer;
}
