.center {
  background-image: url(../imgs/light/hand.png);
  position: fixed;
  padding: 0;
  margin: 0;
  aspect-ratio: 698/865;
  height: 35vh;
  background-repeat: no-repeat;
  background-size: cover;
  cursor: pointer;
  top: 30vh;
  left: calc((100vw - ((698 / 865) * 35vh)) / 2);
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.center.active {
  transform: rotate(-5deg) scale(1.2);
}
