.popup {
  width: 60vw;
  height: fit-content;
  position: fixed;
  left: 18vw;
  top: 20vh;
  max-height: 60vh;
  background-color: var(--white);
  color: var(--black);
  border: solid 3px var(--black);
  border-radius: 10px;
  padding: 2vh 2vw;
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: flex-start;
  align-items: center;
  gap: 2vw;
  overflow-y: scroll;
}
.popup::-webkit-scrollbar {
  display: none;
}

.button-div {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 60%;
}

.popup-button {
  cursor: pointer;
  width: fit-content;
  text-decoration: none;
  color: var(--black);
  border: solid var(--black) 1px;
  background-color: var(--white);
  padding: 10px 50px;
  margin: 5px;
  border-radius: 10px;
  font-size: 20px;
}

.popup-button:hover {
  color: var(--white);
  background-color: var(--black);
}

@media only screen and (max-width: 600px) {
  .popup-button {
    width: 40%;
    font-size: 0.9rem;
    text-align: center;
    padding: 0;
    min-height: 3em;
  }
  .button-div {
    width: 90%;
  }
  .popup {
    font-size: 1rem;
    width: 80vw;
    left: 8vw;
  }
  h1 {
    font-size: 1.2rem;
  }
}
