.zodiac {
  height: 10vh;
  width: 10vh;
  cursor: pointer;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  background-repeat: no-repeat;
  background-size: cover;
  aspect-ratio: 1/1;
  background-color: var(--white);
  border: solid 1px var(--black);
  padding: 1vh;
  border-radius: 10px;
}

.zodiac:hover {
  -webkit-filter: invert(100%); /* safari 6.0 - 9.0 */
  filter: invert(100%);
}

.select .zodiac {
  -webkit-filter: invert(100%); /* safari 6.0 - 9.0 */
  filter: invert(100%);
}
