.wrap-profile {
    height: 600px;
    width: 900px;
    display: inline-flex;
    background-color: var(--pink-light);
    position: absolute;
    left: 50%;
    top: 50%;
    margin: -300px 0 0 -450px;
    box-shadow: 2px -2px 6px var(--pink);
    padding: 30px;
    border-radius: 10px;
    flex-direction: row;
    overflow: hidden;
}

.left-panel {
    background-color: blueviolet;
    width: 30%;
    height: 100%;
}

.right-panel {
    background-color: var(--pink-light);
    width: 70%;
    height: 100%;
    display: flex;
    flex-direction: column;
    padding: 2%;
}

.profile-h1 {
    color: var(--white);
    margin-bottom: 2%;
}

.profile-it {
    box-shadow: 1px 2px 3px var(--pink);
    background-color: var(--pink-lighter);
    border-radius: 8px;
    display: flex;
    align-items: center;
    width: 100%;
    height: 12%;
    margin: 1% 0;
}

.profile-it-txt:first-of-type {
    font-size: 22px;
    color: var(--pink);
    margin: 0 15px;
}

.profile-it-txt:nth-of-type(2) {
    margin-left: auto;
    font-size: 22px;
    color: var(--white);
}

.btns-profile {
    align-items: last baseline;
    align-content: last baseline;
}

.btn-edit {
    margin: 0 15px;
    font-size: 23px;
    color: var(--white);
    background-color: var(--pink-lighter);
    border: none;
    cursor: pointer;
}

.btn-log-out {
    width: 100px;
    align-self: last baseline;
    display: inline-block;
    border: none;
    border-radius: 4px;
    background-color: var(--pink-lighter);
    color: var(--white);
    font-size: 18px;
    margin-top: 15px;
    padding: 5px 10px;
    cursor: pointer;
    border: 1px solid var(--pink);
}

.btn-log-out:hover {
    background-color: var(--pink-lighter);
    border: 1px solid var(--white);
}