.card-div {
    box-shadow: 1px 2px 3px black;
    background-color: var(--pink-lighter);
    border-radius: 8px;
    display: flex;
    align-items: center;
    align-content: center;
    width: 32%;
    height: 100%;
    margin: 0 1%;
    padding: 30px;
    overflow: hidden;
    cursor: pointer;
}