.btn-delete {
    align-self: last baseline;
    width: 160px;
    display: inline-block;
    border: none;
    border-radius: 4px;
    background-color: var(--pink-lighter);
    color: var(--white);
    font-size: 18px;
    margin-top: 15px;
    margin-left: 10px;
    padding: 5px 10px;
    cursor: pointer;
    border: 1px solid var(--pink);
}

.btn-delete:hover {
    background-color: var(--pink-lighter);
    border: 1px solid var(--white);
}