.hide {
  display: none;
}

.edit-popup {
  margin-left: auto;
  display: inline-flex;
  flex-direction: row;
}

.input-edit-popup {
  display: inline-block;
}

.btn-edit-popup {
  display: inline-block;
}

.btn-edit-popup {
  margin: 0 15px;
  font-size: 23px;
  color: var(--white);
  background-color: var(--pink-lighter);
  border: none;
  cursor: pointer;
}