.hide {
  display: none;
}

.button-div {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.btn-popup {
  width: 100px;
  display: block;
  border: none;
  border-radius: 4px;
  background-color: var(--pink-lighter);
  color: white;
  font-size: 18px;
  margin-top: 25px;
  padding: 5px 10px;
  cursor: pointer;
}

.btn-popup:hover {
  background-color: var(--pink-lighter);
  border: 1px solid var(--white);
}

.popup {
  overflow: hidden;
  height: 300px;
  width: 400px;
  display: block;
  background-color: var(--pink-light);
  color: var(--white);
  position: absolute;
  left: 50%;
  top: 50%;
  margin: -100px 0 0 -200px;
  box-shadow: 2px -2px 6px black;
  padding: 30px;
}
