:root {
  --pink: #C484A7;
  --pink-light: #DCA2CF;
  --pink-lighter: #F2C7DF;
  --white: #FFFFFF;
}

body {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background: linear-gradient(180deg, #C484A7 0%, #F2C7DF 100%);
  background-attachment: fixed;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
