:root {
  --pink: #c484a7;
  --pink-light: #dca2cf;
  --pink-lighter: #f2c7df;
  --white: #fff;
  --black: #000;
}

body {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background: var(--white);
  background-attachment: fixed;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html::-webkit-scrollbar {
  display: block;
  width: 15px;
  max-width: 2vw;
  height: 20px;
}
html::-webkit-scrollbar-track {
  background: transparent;
  height: 20px;
}

html::-webkit-scrollbar-thumb {
  background-color: var(--pink-lighter);
  border-right: none;
  border-left: none;
}
