:root {
  --pink: #c484a7;
  --pink-light: #dca2cf;
  --pink-lighter: #f2c7df;
  --white: #f2f2f2;
  --black: #333;
}

body {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background: var(--white);
  background-attachment: fixed;
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body,
input,
button {
  font-family: Courier, "Lucida Sans Typewriter", "Lucida Typewriter";
}

html::-webkit-scrollbar {
  display: block;
  width: 10px;
  max-width: 2vw;
  height: 20px;
  border-radius: 10px;
}

html::-webkit-scrollbar-track {
  background: transparent;
  height: 20px;
  width: 10px;
  border-radius: 10px;
}

html::-webkit-scrollbar-thumb {
  background-color: var(--black);
  border-right: none;
  border-left: none;
  border-radius: 10px;
}

body,
html {
  max-width: 100%;
  max-height: 100%;
  overflow-x: hidden;
}
